@import '../colors.scss';

.wrapper {
  color: $flat-white;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;

  span {
    margin-left: 10px;
    font-size: 10px;
    text-transform: none;
  }

  .progress {
    height: 15px;
    width: 130px;
    display: block;
    margin-bottom: 5px;
  }

  .heart_icon {
    width: 18px;
    height: 18px;
  }
}