$port-gore: #272358;
$turquoise: #50E3C2;
$scampi: #61609A;
$waikawa-grey: #59588D;

$simple-grey: #C4C4C4;
$flat-white: #FFFFFF;

$dark-blue: #19173D;
$darker-blue: #1E1D44;


$purple-gradient: linear-gradient(135deg, #ff409a 0%,#c438ef 100%);
$purple-shadow: #6e1475;
$blue-gradient: linear-gradient(159.84deg, #40DDFF 0%, #14BAE3 19.24%, #13B1E6 68.64%, #11AADF 81.77%, #0B98C5 100%);
$blue-shadow: #342e77;

